{
    "DESCRIPTION": [
        ""
    ],
    "DATA_SOURCES": [
        {
            "loader": {
                "class": "PcapFileLoader",
                "kwargs": {
                    "filepath": "{{ project_root }}/data/MQTTset-reduced/benign/benign-train.pcap",
                    "packet_processor_path": "{{ project_root }}/code/cpp-extract-features/cmake-build/pcap-feature-extraction"
                }
            },
            "featextractors": [
                {
                    "class": "CppPacketExtractor",
                    "kwargs": {}
                },
                {
                    "class": "FileLabelExtractor",
                    "kwargs": {
                        "label_value": 0
                    }
                }
            ]
        },
        {
            "loader": {
                "class": "PcapFileLoader",
                "kwargs": {
                    "filepath": "{{ project_root }}/data/MQTTset-reduced/bruteforce/bruteforce-train.pcapng",
                    "packet_processor_path": "{{ project_root }}/code/cpp-extract-features/cmake-build/pcap-feature-extraction"
                }
            },
            "featextractors": [
                {
                    "class": "CppPacketExtractor",
                    "kwargs": {}
                },
                {
                    "class": "FileLabelExtractor",
                    "kwargs": {
                        "label_value": 1
                    }
                }
            ]
        },
        {
            "loader": {
                "class": "PcapFileLoader",
                "kwargs": {
                    "filepath": "{{ project_root }}/data/MQTTset-reduced/malariados/malariados-train.pcap",
                    "packet_processor_path": "{{ project_root }}/code/cpp-extract-features/cmake-build/pcap-feature-extraction"
                }
            },
            "featextractors": [
                {
                    "class": "CppPacketExtractor",
                    "kwargs": {}
                },
                {
                    "class": "FileLabelExtractor",
                    "kwargs": {
                        "label_value": 2
                    }
                }
            ]
        },
        {
            "loader": {
                "class": "PcapFileLoader",
                "kwargs": {
                    "filepath": "{{ project_root }}/data/MQTTset-reduced/malformed/malformed-train.pcap",
                    "packet_processor_path": "{{ project_root }}/code/cpp-extract-features/cmake-build/pcap-feature-extraction"
                }
            },
            "featextractors": [
                {
                    "class": "CppPacketExtractor",
                    "kwargs": {}
                },
                {
                    "class": "FileLabelExtractor",
                    "kwargs": {
                        "label_value": 3
                    }
                }
            ]
        }
    ],
    "MODEL":
    {
        "class": "NearNeighborsModel",
        "train_new_model": true,
        "skip_saving_model": false,
        "model_name": "packet-single-ssm-knn3bmm",
        "model_storage_base_path": "{{ project_root }}/models",
        "encoder":
        {
            "class": "DefaultEncoder",
            "kwargs": {
                "feature_filter": [
                    "ip_header_size",
                    "ip_data_size",
                    "tcp_header_size",
                    "tcp_size",
                    "tcp_cwr",
                    "tcp_ece",
                    "tcp_urg",
                    "tcp_ack",
                    "tcp_psh",
                    "tcp_rst",
                    "tcp_syn",
                    "tcp_fin"
                ]
            }
        }
    },
    "OUTPUT": [
        {
            "class": "NearNeighborsReporter",
            "kwargs": {}
        }
    ],
    "LOG": [
        {
            "level": "DEBUG",
            "path": "{{ project_root }}/logs/{{ config_file_name }}/{{ timestamp }}-test-log.txt"
        }
    ],
    "VERSION": "{{ git_tag }}"
}
