/code/cpp-extract-features/cmake-build/
/code/cpp-extract-features/PcapPlusPlus/cmake-build/
/data/
!/data/README.md
!/data/MQTTset-reduced/
/influxdb/
/logs/
/models/
**/__pycache__/

/configurations/zplots/
/siuru-venv/

command-examples
useful_code_info
/code/cpp-extract-features/tests/
/code/testcodes/
/code/Kafka/kafka-pcap/tests/