{
    "DESCRIPTION": [
        ""
    ],
"DATA_SOURCES": [
        {
            "loader": {
                "class": "PcapFileConverter",
                "kwargs": {
                    "filepath": "{{ project_root }}/data/edge-iotset/benign/phValue_4_5000.pcap",
                    "packet_processor_path": "{{ project_root }}/code/cpp-extract-features/cmake-build/pcap-feature-extraction",
                    "stream_concept_id": 1,
                    "use_full_dataset": false,
                    "n_packets": 5000
                }
            },
            "featextractors": [
                {
                    "class": "CppPacketExtractor",
                    "kwargs": {}
                },
                {
                    "class": "WindowFlowFeatureExtractor",
                    "kwargs": {
                        "window_size_ms": 10
                    }
                },
                {
                    "class": "FileLabelExtractor",
                    "kwargs": {
                        "label_value": 0
                    }
                }
            ]
        },
        {
            "loader": {
                "class": "PcapFileConverter",
                "kwargs": {
                    "filepath": "{{ project_root }}/data/mqtt-iot-ids2020/mqtt_brute_1_5000.pcap",
                    "packet_processor_path": "{{ project_root }}/code/cpp-extract-features/cmake-build/pcap-feature-extraction",
                    "stream_concept_id": 1,
                    "use_full_dataset": false,
                    "n_packets": 5001
                }
            },
            "featextractors": [
                {
                    "class": "CppPacketExtractor",
                    "kwargs": {}
                },
                {
                    "class": "WindowFlowFeatureExtractor",
                    "kwargs": {
                        "window_size_ms": 10
                    }
                },
                {
                    "class": "FileLabelExtractor",
                    "kwargs": {
                        "label_value": 1
                    }
                }
            ]
        }
    ],
    "MODEL":
    {
        "class": "RandomForestModel",
        "data_format": "raw_pcap",
        "randomize_samples": true,
        "ml_task": "train",
        "data_flow": "batch",
        "sampling_rate": "incremental",        
        "new_model": true,
        "skip_saving_model": false,
        "model_name": "mixIotEd-rf-4concept-train1-1ben-bal",
        "model_storage_base_path": "{{ project_root }}/models",

        "encoder":
        {
            "class": "DefaultEncoder",
            "kwargs": {
                "feature_filter": [
                    "window_flow_pkt_count",
                    "window_flow_sum_pkt_size",
                    "window_flow_avg_pkt_size",
                    "window_flow_inter_arrival_avg"
                ]
            }
        }
    },
    "OUTPUT": [
        {
            "class": "StreamClassifReporter",
            "kwargs": {}
        }
    ],
    "LOG": [
        {
            "level": "DEBUG",
            "path": "{{ project_root }}/logs/{{ config_file_name }}/{{ timestamp }}-test-log.txt"
        }
    ],
    "VERSION": "{{ git_tag }}"
}
