{
    "DESCRIPTION": [
        ""
    ],
"DATA_SOURCES": [
        {
            "loader": {
                "class": "PcapFileConverter",
                "kwargs": {
                    "filepath": "{{ project_root }}/data/MQTTset-reduced/benign-5mb/benign-5mb-test_4_5000.pcap",
                    "packet_processor_path": "{{ project_root }}/code/cpp-extract-features/cmake-build/pcap-feature-extraction",
                    "stream_concept_id": 4,
                    "use_full_dataset": false,
                    "n_packets": 5000
                }
            },
            "featextractors": [
                {
                    "class": "CppPacketExtractor",
                    "kwargs": {}
                },
                {
                    "class": "WindowFlowFeatureExtractor",
                    "kwargs": {
                        "window_size_ms": 10
                    }
                },
                {
                    "class": "FileLabelExtractor",
                    "kwargs": {
                        "label_value": 0
                    }
                }
            ]
        },
        {
            "loader": {
                "class": "PcapFileConverter",
                "kwargs": {
                    "filepath": "{{ project_root }}/data/MQTTset-reduced/flood/flood-test.pcap",
                    "packet_processor_path": "{{ project_root }}/code/cpp-extract-features/cmake-build/pcap-feature-extraction",
                    "stream_concept_id": 4,
                    "use_full_dataset": false,
                    "n_packets": 5001
                }
            },
            "featextractors": [
                {
                    "class": "CppPacketExtractor",
                    "kwargs": {}
                },
                {
                    "class": "WindowFlowFeatureExtractor",
                    "kwargs": {
                        "window_size_ms": 10
                    }
                },
                {
                    "class": "FileLabelExtractor",
                    "kwargs": {
                        "label_value": 1
                    }
                }
            ]
        },
        {
            "loader": {
                "class": "PcapFileConverter",
                "kwargs": {
                    "filepath": "{{ project_root }}/data/MQTTset-reduced/benign-5mb/benign-5mb-test_3_5000.pcap",
                    "packet_processor_path": "{{ project_root }}/code/cpp-extract-features/cmake-build/pcap-feature-extraction",
                    "stream_concept_id": 3,
                    "use_full_dataset": false,
                    "n_packets": 5000
                }
            },
            "featextractors": [
                {
                    "class": "CppPacketExtractor",
                    "kwargs": {}
                },
                {
                    "class": "WindowFlowFeatureExtractor",
                    "kwargs": {
                        "window_size_ms": 10
                    }
                },
                {
                    "class": "FileLabelExtractor",
                    "kwargs": {
                        "label_value": 0
                    }
                }
            ]
        },
        {
            "loader": {
                "class": "PcapFileConverter",
                "kwargs": {
                    "filepath": "{{ project_root }}/data/MQTTset-reduced/malformed/malformed-test.pcap",
                    "packet_processor_path": "{{ project_root }}/code/cpp-extract-features/cmake-build/pcap-feature-extraction",
                    "stream_concept_id": 3,
                    "use_full_dataset": false,
                    "n_packets": 5001
                }
            },
            "featextractors": [
                {
                    "class": "CppPacketExtractor",
                    "kwargs": {}
                },
                {
                    "class": "WindowFlowFeatureExtractor",
                    "kwargs": {
                        "window_size_ms": 10
                    }
                },
                {
                    "class": "FileLabelExtractor",
                    "kwargs": {
                        "label_value": 1
                    }
                }
            ]
        },
        {
            "loader": {
                "class": "PcapFileConverter",
                "kwargs": {
                    "filepath": "{{ project_root }}/data/MQTTset-reduced/benign-5mb/benign-5mb-test_2_5000.pcap",
                    "packet_processor_path": "{{ project_root }}/code/cpp-extract-features/cmake-build/pcap-feature-extraction",
                    "stream_concept_id": 2,
                    "use_full_dataset": false,
                    "n_packets": 5000
                }
            },
            "featextractors": [
                {
                    "class": "CppPacketExtractor",
                    "kwargs": {}
                },
                {
                    "class": "WindowFlowFeatureExtractor",
                    "kwargs": {
                        "window_size_ms": 10
                    }
                },
                {
                    "class": "FileLabelExtractor",
                    "kwargs": {
                        "label_value": 0
                    }
                }
            ]
        },
        {
            "loader": {
                "class": "PcapFileConverter",
                "kwargs": {
                    "filepath": "{{ project_root }}/data/MQTTset-reduced/malariados/malariados-test.pcap",
                    "packet_processor_path": "{{ project_root }}/code/cpp-extract-features/cmake-build/pcap-feature-extraction",
                    "stream_concept_id": 2,
                    "use_full_dataset": false,
                    "n_packets": 5001
                }
            },
            "featextractors": [
                {
                    "class": "CppPacketExtractor",
                    "kwargs": {}
                },
                {
                    "class": "WindowFlowFeatureExtractor",
                    "kwargs": {
                        "window_size_ms": 10
                    }
                },
                {
                    "class": "FileLabelExtractor",
                    "kwargs": {
                        "label_value": 1
                    }
                }
            ]
        },
        {
            "loader": {
                "class": "PcapFileConverter",
                "kwargs": {
                    "filepath": "{{ project_root }}/data/MQTTset-reduced/benign-5mb/benign-5mb-test_1_5000.pcap",
                    "packet_processor_path": "{{ project_root }}/code/cpp-extract-features/cmake-build/pcap-feature-extraction",
                    "stream_concept_id": 1,
                    "use_full_dataset": false,
                    "n_packets": 5000
                }
            },
            "featextractors": [
                {
                    "class": "CppPacketExtractor",
                    "kwargs": {}
                },
                {
                    "class": "WindowFlowFeatureExtractor",
                    "kwargs": {
                        "window_size_ms": 10
                    }
                },
                {
                    "class": "FileLabelExtractor",
                    "kwargs": {
                        "label_value": 0
                    }
                }
            ]
        },
        {
            "loader": {
                "class": "PcapFileConverter",
                "kwargs": {
                    "filepath": "{{ project_root }}/data/MQTTset-reduced/bruteforce/bruteforce-test.pcapng",
                    "packet_processor_path": "{{ project_root }}/code/cpp-extract-features/cmake-build/pcap-feature-extraction",
                    "stream_concept_id": 1,
                    "use_full_dataset": false,
                    "n_packets": 5001
                }
            },
            "featextractors": [
                {
                    "class": "CppPacketExtractor",
                    "kwargs": {}
                },
                {
                    "class": "WindowFlowFeatureExtractor",
                    "kwargs": {
                        "window_size_ms": 10
                    }
                },
                {
                    "class": "FileLabelExtractor",
                    "kwargs": {
                        "label_value": 1
                    }
                }
            ]
        }
    ],
    "MODEL":
    {
        "class": "HoeffdingAdaptativeTreeModel",
        "data_format": "raw_pcap",
        "randomize_samples": true,
        "ml_task": "test",
        "data_flow": "stream",
        "sampling_rate": "incremental",
        "new_model": true,
        "skip_saving_model": true,
        "model_name": "MQTT-hoeff-4concept-1ben-bal-inverse",
        "model_storage_base_path": "{{ project_root }}/models",

        "encoder":
        {
            "class": "DefaultEncoder",
            "kwargs": {
                "feature_filter": [
                    "window_flow_pkt_count",
                    "window_flow_sum_pkt_size",
                    "window_flow_avg_pkt_size",
                    "window_flow_inter_arrival_avg"
                ]
            }
        }
    },
    "OUTPUT": [
        {
            "class": "StreamClassifReporter",
            "kwargs": {}
        }
    ],
    "LOG": [
        {
            "level": "DEBUG",
            "path": "{{ project_root }}/logs/{{ config_file_name }}/{{ timestamp }}-test-log.txt"
        }
    ],
    "VERSION": "{{ git_tag }}"
}
